/*Command pannel*/
#panel, #flip {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}

#panel {
    padding: 50px;
    display: none;
}

#command {
    padding: 1em;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
    height: 400px;
}

#input {
    width: 100%;
    position: relative;
    font-size: 18px;
}


