html, body {
  height: 100%;
  width: 100%;
}

body {
  position: relative;
  width: calc(100% - 1em);
  height: calc(100% - 3em);
}

ul {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: auto;
}

#command {
  padding: 1em;
  background-color: #EFEFEF;
  border: solid 1px #c3c3c3;
  position: relative;
  height: 100%;
}

#cmdContainer {
  position: relative;
  height: 50%;
}

#input-search, #input-command {
  width: 100%;
  font-size: 18px;
}

#input-search {
  left: 1em;
  width: calc(100% - 2em);
  bottom: 1em;
  box-sizing: border-box;
  position: absolute;
}

#cmd-search {
  z-index: 10;
  /*position: relative;*/
}

