/*html, body {
  height: 100%;
  width: 100%;
}

body {
  position: relative;
  width: calc(100% - 1em);
  height: calc(100% - 3em);
}
*/
.command ul {
  width: calc(100% - 2em);
  position: absolute;
  overflow: auto;
  list-style: none;
  max-height: 90%;
}

.command li {
  cursor: pointer;
}


.command [v-cloak] {
  display: none;
}

.command {
  padding: 1em;
  background-color: #EFEFEF;
  border: solid 1px #c3c3c3;
  /*position: relative;*/
  height: 100%;
}

.command .cmdContainer {
  position: relative;
  height: 85%;
  font-family: 'Roboto', sans-serif;
}

.command .user-input {
  width: 100%;
  font-size: 18px;
}

.command .input-search {
  left: 1em;
  width: calc(100% - 2em);
  bottom: 1em;
  box-sizing: border-box;
  position: absolute;
}

.command .cmd-search {
  z-index: 10;
  background-color: white;
  border-radius: 2px;
  margin-top: 1px;
  box-shadow: 1px 2px 8px #888888;
}

